.page {
  background-color: #fff;
  font-family: 'Gotham Pro', sans-serif;
  font-weight: normal;
}

.header {
  display: flex;
  justify-content: center;
  margin: 32px 0;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 204px;
  max-block-size: 48px;
}

.header__navigation-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 64px;
}

.header__logo {
  display: block;
  text-decoration: none;
}

.logo-image {
  width: 100%;
  max-block-size: 48px;
}

.menu {
  align-self: center;
}

.menu__link-list {
  display: flex;
  flex-direction: row;
  gap: 56px;
}

.links-list-item {
  list-style-type: none;
}

.link {
  font-size: 18px;
  font-weight: 800;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #373130;
  text-decoration: none;
  font-weight: bold;
}

.header__contact-container {
  display: flex;
  flex-direction: row;
  gap: 56px;
}

.tel-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.link_tel {
  font-size: 14px;
  line-height: 18px;
}

.button {
  appearance: none;
  color: #fff;
  background-color: #F4B629;
  border: none;
  text-align: center;
  font-family: 'Gotham Pro', sans-serif;
  font-weight: bold;
}

.header__button {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  border-radius: 8px;
  letter-spacing: 0.02em;
  padding: 15px 32px;
}

.intro {
  display: grid;
  grid-template-columns: 48.75% 1fr;
  grid-template-rows: 69.1vh 17.32vh;
  column-gap: 32px;
}

.intro__content-container {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.intro__content-container_main {
  background-image: url(../images/waves.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F9F9F9;
  display: flex;
  flex-direction: column;
  gap: 24.8%;
  border-bottom-right-radius: 64px;
  border-bottom-left-radius: 0;
  align-items: flex-start;
  justify-content: flex-start;
  padding-inline-start: 26.5%;
  padding-block-end: 9.9%;
  padding-block-start: 208px;
}

.intro__content-container_extra {
  background-image: url(../images/boy_with_book.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 64px;
  grid-row-end: span 2;
}

.tagline {
  font-size: clamp(1.4375rem, 1.2141rem + 0.8632vw, 2.25rem);
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #000;
  inline-size: 86.5%;
}

.tagline > span:first-child {
  display: block;
}

.decorated {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(45deg, #2792A0 14.66%, #5CB9B7 85.34%);
}

.submit-container {
  display: flex;
}

.submit-container_row {
  flex-direction: row;
  justify-content: space-between;
  inline-size: 86.5%;
}

.intro__button {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  border-radius: 16px;
  letter-spacing: 0.02em;
  padding: 24px 39px;
}

.extra-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.extra-info-text {
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.02em;
  opacity: 0.7;
  color: #373130;
  margin-inline-start: 11px;
}

.section {
  padding-inline: 12.92vw;
}

.portal {
  aspect-ratio: 1 / 1;
  inline-size: 10.84vw;
}

.infinity {
  inline-size: 34.8vw;
  block-size: 16.05vw;
}

.section__heading {

}

/* Первая театральная студия, где дети остаются детьми */

width: 704px;
height: 84px;

/* H1 */
font-family: 'Gotham Pro';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 130%;
/* or 42px */
text-align: center;
letter-spacing: 0.02em;

/* Aqua gradient */
background: linear-gradient(45deg, #2792A0 14.66%, #5CB9B7 85.34%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
