.page {
  background-color: #fff;
  font-family: 'Gotham Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #000;
}

.header {
  display: flex;
  justify-content: center;
  margin: 32px 0;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 203px;
  max-block-size: 48px;
}

.header__navigation-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 64px;
}

.header__logo {
  display: block;
  text-decoration: none;
}

.logo-image {
  width: 100%;
  max-block-size: 48px;
}

.menu {
  align-self: center;
}

.menu__link-list {
  display: flex;
  flex-direction: row;
  gap: 55px;
}

.links-list-item {
  list-style-type: none;
}

.link {
  font-size: 18px;
  color: #373130;
  text-decoration: none;
}

.header__contact-container {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.tel-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.link_tel {
  font-size: 14px;
}

.button {
  appearance: none;
  font-family: 'Gotham Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #fff;
  background-color: #F4B629;
  border: none;
  text-align: center;
}

.header__button {
  border-radius: 8px;
  padding: 15px 32px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 6.67vw;
}

.intro {
  display: grid;
  grid-template-columns: 48.75% 1fr;
  grid-template-rows: 69.1vh 17.32vh;
  column-gap: 32px;
}

.intro__content {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.intro__content_main {
  background-image: url(../images/waves.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F9F9F9;
  display: flex;
  flex-direction: column;
  gap: 24%;
  border-bottom-right-radius: 64px;
  border-bottom-left-radius: 0;
  align-items: flex-start;
  justify-content: flex-start;
  padding-inline-start: 26.6%;
  padding-block-end: 10%;
  padding-block-start: 22.09%;
}

.intro__content_extra {
  background-image: url(../images/boy_with_book.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 64px;
  grid-row-end: span 2;
}

.intro__tagline {
  font-size: clamp(1.4375rem, 1.2141rem + 0.8632vw, 2.25rem);
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #000;
  inline-size: 86.5%;
}

.intro__tagline>span:first-child {
  display: block;
}

.decorated {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(45deg, #2792A0 14.66%, #5CB9B7 85.34%);
}

.submit-container {
  display: flex;
}

.submit-container_row {
  flex-direction: row;
  justify-content: space-between;
  inline-size: 86.5%;
}

.button_intro {
  font-size: 20px;
  font-weight: 700;
  border-radius: 16px;
  padding: 24px 39px;
}

.extra-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.extra-info__text {
  font-size: 18px;
  margin-inline-start: 11px;
}

.additional {
  opacity: 0.7;
  color: #373130;
}

.section {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 64px;
  position: relative;
}

.decor-img {
  position: absolute;
}

.portal {
  aspect-ratio: 1 / 1;
  inline-size: 10.84vw;
  left: 21.6%;
  top: -35.3%;
}

.infinity {
  inline-size: 34.8vw;
  block-size: 16.05vw;
  left: 78.6%;
  top: 4.6%;
  z-index: -1;
}

.section__heading {
  font-size: clamp(1.4375rem, 1.2829rem + 0.5976vw, 2rem);
  text-align: center;
  font-weight: 700;
  line-height: 41.6px;
  display: flex;
  flex-direction: column;
}

.section__card-list {
  display: grid;
  column-gap: 16px;
}

.section__card-list_advantages {
  grid-template-columns: repeat(3, 464px);
}

.section__card-list-item {
  padding: 24px;
  border-radius: 24px;
  background-color: #f9f9f9;
}

.section__card {
  display: flex;
}

.section__card_advantages {
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

.card__img {
  aspect-ratio: 1 / 1;
  inline-size: 26.93%;
  margin-block-end: 8px;
}

.card__title {
  font-size: 20px;
  color: #373130;
  font-weight: 400;
  line-height: 26px;
}

.card__title span {
  display: block;
}

.section__card-list-item:nth-child(1) .card__text {
  padding-inline-end: 22%;
}

.section__card-list-item:nth-child(2) .card__text {
  padding-inline-end: 7%;
}

.section__card-list-item:nth-child(3) .card__text {
  padding-inline-end: 7%;
}